public/wsdl/data.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
		targetNamespace="http://com.intellect.ImageUploadService/ws"
		name="ImageUploadService"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://com.intellect.ImageUploadService/ws"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema targetNamespace="http://com.intellect.ImageUploadService/ws"
				xmlns="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="imageResponseVO" >
				<xsd:complexType >
					<xsd:sequence>
						<xsd:element name="errorCode" type="xsd:string" minOccurs="0"/>
						<xsd:element name="errorDesc" type="xsd:string" minOccurs="0"/>
						<xsd:element name="status" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="uploadImage" >
				<xsd:complexType >
					<xsd:sequence>
						<xsd:element name="requestId" type="xsd:string"       minOccurs="1"/>
						<xsd:element name="imageName" type="xsd:string"       minOccurs="1"/>
						<xsd:element name="imageByte" type="xsd:base64Binary" minOccurs="1"/>
						<xsd:element name="source"    type="xsd:string"       minOccurs="1"/>
						<xsd:element name="imageType" type="xsd:string"       minOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>
	<message name="uploadImage">
		<part name="uploadImage" element="tns:uploadImage" />
	</message>
	<message name="uploadImageResponse">
		<part name="ImageResponseVO" element="tns:imageResponseVO" />
	</message>
	<portType name="ImageUploadPortType">
		<operation name="uploadImage"
				parameterOrder="requestId imageName imageByte imageType source">
			<input message="tns:uploadImage" />
			<output message="tns:uploadImageResponse" />
		</operation>
	</portType>
	<binding name="ImageUploadPortTypeBinding"
			type="tns:ImageUploadPortType">
		<soap:binding
				transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
		<operation name="uploadImage">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
						namespace="http://com.intellect.ImageUploadService/ws" />
			</input>
			<output>
				<soap:body use="literal"
						namespace="http://com.intellect.ImageUploadService/ws" />
			</output>
		</operation>
	</binding>
	<service name="ImageUploadService">
		<port name="ImageUploadPortType"
				binding="tns:ImageUploadPortTypeBinding">
			<soap:address
					location="https://openapiuat.hdfcbank.com:9443/API/APS2_ImageUploadService" />
		</port>
	</service>
</definitions>
